<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- TITLE AND FAVICON -->
    <title>Sol Editor: Home</title>
</head>

<body>
    <section class="hero is-danger is-fullheight is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                 <div class="column is-4 is-offset-4">
                     <h4>Welcome to</h4>
                    </br>
                    <h3 class="title has-text-white is-spaced">Sol Editor</h3>
                 </div>
                <div class="column is-1 is-offset-1">
                    <!-- offset to push column to centre with width 4/12 -->
                    
                    <!-- title on top -->
                    {{!--
                    <p class="subtitle has-text-white">
                        <a href="/browse">
                            <em>
                                <b>browse</b>
                            </em>
                        </a>, </p> --}}

                    <!-- HOME BOX -->
                    <div class="box" style="width:800px; float: left;">
                        <figure class="avatar is-128x128">
                            <img src="http://r70.cooltext.com/rendered/cooltext291717867364794.png">
                        </figure>

                        
                        <div class="spacer"></div>
                        <div class="container">
                            <div class="columns">
                                <div class="column is-8">
                                    <div class="image">
                                        {{!-- <img src="https://placehold.it/800x500"> --}}
                                        <iframe width="760" height="500" src="https://www.youtube.com/embed/oBtnOhG1XtY"
                                         frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
    
                                    <div class="box video-meta">
                                        <div class="video-title" style="float: left">Sol Welcome Video!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <form action="" method="post">
                        <input class="button is-dark is-medium is-fullwidth" type="submit" value="Continue!">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>